<%- include("partials/header.ejs") %>


<section>
    <div class="container">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/taj1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/agra2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/agra3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/agra4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="about ">
    <div class="container">
        <H2 class="mt-5">ABOUT AGRA</H2>
        <hr>
        <p>Agra has three UNESCO World Heritage sites, the Taj Mahal and the Agra Fort in the city and Fatehpur Sikri 40 km away. There are also many other buildings and tombs from Agra's days of glory as the capital of the Mughal Empire.

            Besides these three sites, the city has little else to recommend it. Pollution, especially smog and litter, is rampant and visitors are pestered by swarms of touts and hawkers at every monument, besides the inner Taj Mahal which, once you are in, is
            free of scams and touts. The sites are some of the wonders of the world and no trip to India is complete without at least one visit to the Taj. For the vast majority of visitors, a single day in Agra is more than enough..</p>
        <p>
            Agra Fort. is similar in layout to the Red Fort in Delhi, but considerably better preserved, as much of Delhi Fort was razed by the British after the Mutiny. As much a palace as a defensive structure, it is also constructed mainly from red sandstone, and much white marble in the palace section of the fort. Taj Mahal. is an immense mausoleum of white marble, built between 1631 and 1648 by order of the Mughal emperor Shah Jahan in memory of his favourite wife. Taj Mahal means Crown Palace; one of the wife's names was Mumtaz Mahal, Ornament of the Palace. The Taj is one of the most well preserved and architecturally beautiful tombs in the world, one of the masterpieces of Indo-Islamic architecture and one of the world's great heritage sites <br>
            Agra Fort. is similar in layout to the Red Fort in Delhi, but considerably better preserved, as much of Delhi Fort was razed by the British after the Mutiny. As much a palace as a defensive structure, it is also constructed mainly from red sandstone, and much white marble in the palace section of the fort. <br>


        <p><strong class="strong">MOST BEAUTIFUL PLACES TO VISIT IN AGRA</strong></p>
        <li>Bharatpur</li>
        <li>Fatehpur Sikri </li>
        <li>Mathura </li>
        <li>Vrindavan</li>
        <li>Agra Fort</li>
        <li>Gardens and Temples</li>
</section>
</div>
<!-- <section>
    <div class="container my-5 ">
        <h2>RECOMENDED PACKAGES</h2>
        <hr>
        <div class="int-container ">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="./assets/italypackage.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF ITALY</h5>
                    <p class="card-text">Explore italy mains with this package .</p>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section> -->


<%- include("partials/footer.ejs") %>