<%- include("partials/header.ejs") %>

<section>
    <div class="container">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            
                <div class="carousel-item active">
                    <img src="/amritsar1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/amritsar2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/amritsar3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/amritsar4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="about ">
    <div class="container">
        <H2 class="mt-5">ABOUT AMRITSAR</H2>
        <hr>
        <p>
            Explore the Beauty of Amritsar: A Glimpse into Punjab's Heart</p>

           <p> Nestled in the heart of Punjab, Amritsar beckons travelers with its rich cultural heritage, spiritual significance, and architectural splendor. As you embark on a journey to discover the beauty of Amritsar, take a moment to explore the city's vibrant tapestry of sights and experiences.</p>
           <p>Amritsar was a center of unrest in the late 20th century. In the 1980s, Sikh militants occupied the Golden Temple there. Prime Minister of India, Indira Gandhi, ordered Operation Blue Star (1 – 6 June 1984), an Indian military operation to remove the militants from the temple. The operation was carried out by Indian army troops equipped with tanks and armoured vehicles. While militarily successful, the operation aroused immense controversy. The government's justification for the timing and style of the attack are hotly debated. India Today magazine has ranked Operation Blue Star as among the Top 10 Political Disgraces in India.</p>
        <p>
            In conclusion, Amritsar captivates travelers with its rich cultural heritage, spiritual significance, and architectural splendor. From the sacred precincts of the Golden Temple to the poignant history of Jallianwala Bagh and the vibrant atmosphere of Wagah Border, Amritsar offers a glimpse into Punjab's heart and soul, inviting visitors to embark on a memorable journey of discovery and enlightenment. <br>
            Indulge your taste buds in the rich and flavorful cuisine of Amritsar, renowned for its mouthwatering delicacies such as Amritsari Kulcha, Makki di Roti, and Sarson da Saag. From bustling street food stalls to traditional Punjabi dhabas, the city offers a culinary journey that is sure to tantalize your senses. <br>
        </p>

        <p><strong class="strong">MOST BEAUTIFUL PLACES TO VISIT IN AMRITSAR</strong></p>
        <li>Golden temple</li>
        <li>Bhagwan Valmiki Tirath Asthan</li>
        <li>Jallianwala Bagh</li>
        <li>Akal Takht</li>
        <li>Gobindgarh Fort:</li>
        <li>Durgiana Temple</li>
</section>
</div>
<!-- <section>
    <div class="container my-5 ">
        <h2>RECOMENDED PACKAGES</h2>
        <hr>
        <div class="int-container ">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="./assets/italypackage.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF ITALY</h5>
                    <p class="card-text">Explore italy mains with this package .</p>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section> -->


<%- include("partials/footer.ejs") %>