<%- include("partials/header.ejs") %>

<section>
    <div class="container">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/andaman1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/andaman2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/andaman3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/andaman.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="about ">
    <div class="container">
    <H2 class="mt-5">ABOUT ANDAMAN</H2>
        <hr>
        <p> 
            Tourism in the Andaman and Nicobar Islands, a group of islands in the Bay of Bengal, is characterized by its stunning natural beauty, pristine beaches, rich marine biodiversity, and vibrant cultural heritage. Here's an overview of tourism in the Andaman Islands.</p>
        <p>
            
            The Andaman Islands are renowned for their picturesque beaches with soft white sand and crystal-clear turquoise waters. Some of the most popular beaches include Radhanagar Beach on Havelock Island, known for its breathtaking sunset views and pristine shoreline; and Elephant Beach, famous for its vibrant coral reefs and excellent snorkeling opportunities.
            <br>
            The Andaman Islands offer a plethora of water sports activities for adventure enthusiasts. From snorkeling and scuba diving to sea walking and parasailing, visitors can explore the vibrant underwater world teeming with colorful coral reefs, exotic marine life, and fascinating shipwrecks.</p>
        <p> The Andaman Islands have a rich history associated with their role as a colonial outpost and as a penal colony during British rule. Visitors can explore historical sites such as Cellular Jail in Port Blair, a national memorial that bears testimony to the island's tumultuous past; and Ross Island, once the administrative headquarters of the British in the Andaman Islands, now adorned with colonial ruins and scenic vistas.
        </p>
        <p><strong class="strong">MOST BEAUTIFUL PLACES TO VISIT IN ANDAMAN</strong></p>
        <li>Radhanagar Beach</li>
        <li>Elephant Beach</li>
        <li>Neil Island</li>
        <li>Limestone Caves</li>
        <li>Mud Volcano</li>
        <li>Jolly Buoy Island</li>
</section>
</div>
<section>
    <div class="container my-5 ">
        <h2>RECOMENDED PACKAGES</h2>
        <hr>
        <div class="int-container ">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/andaman.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF ANDAMAN</h5>
                    <p class="card-text">Explore Andaman with this package .</p>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>