<%- include("partials/header.ejs") %>


<section>
    <div class="container">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/bali1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/bali2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/bali3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/bali4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="about ">
    <div class="container">
    <H2 class="mt-5">ABOUT BALI</H2>
        <hr>
        <p> Bali boasts some of the world's most beautiful beaches, each offering its unique charm. From the famous Kuta Beach with its lively atmosphere and excellent surfing conditions to the tranquil shores of Nusa Dua and the picturesque Uluwatu Beach, visitors can choose from a wide array of beach experiences.</p>
        <p>
            
            <strong>Ubud:</strong> Known as the cultural heart of Bali, Ubud attracts visitors with its lush rice terraces, traditional arts and crafts, and spiritual atmosphere. It's home to numerous art galleries, museums, and cultural performances, making it a haven for artists and those seeking a deeper understanding of Balinese culture.
            <br>
            Bali is dotted with thousands of temples, each with its own significance and architectural beauty. The iconic Tanah Lot Temple, perched on a rock formation overlooking the sea, and the majestic Besakih Temple, Bali's largest and holiest temple complex, are must-visit attractions for spiritual seekers and architecture enthusiasts alike.</p>
        <p> Bali is renowned for its spa and wellness offerings, with countless spas, yoga studios, and wellness retreats catering to travelers seeking relaxation and rejuvenation. From traditional Balinese massages to holistic healing therapies, visitors can immerse themselves in a world of pampering and self-care.
        </p>
        <p><strong class="strong">MOST BEAUTIFUL PLACES TO VISIT IN BALI</strong></p>
        <li>Uluwatu Temples</li>
        <li>Mount Batur</li>
        <li>Nusa Penida </li>
        <li>Sekumpul Waterfall</li>
        <li>Bali Botanic Garden</li>
        <li>Tanah Lot Temple:</li>
</section>
</div>
<section>
    <div class="container my-5 ">
        <h2>RECOMENDED PACKAGES</h2>
        <hr>
        <div class="int-container ">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/balipackage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF BALI</h5>
                    <p class="card-text">Explore Bali with this package .</p>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include("partials/footer.ejs") %>