<%- include("partials/header.ejs") %>

<section>
    <div class="container">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/delhi1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/REDFORT.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/delhi3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/delhi4.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/delhi5.JPG" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="about ">
    <div class="container">
        <H2 class="mt-5">ABOUT DELHI</H2>
        <hr>
        <p>Discover the Heart of India: Exploring Delhi</p>

           <p> Welcome to Delhi, the vibrant capital city of India where history, culture, and modernity seamlessly blend together, offering visitors a kaleidoscope of experiences. As you embark on your journey through Delhi, prepare to be enchanted by its magnificent monuments, bustling markets, delectable cuisine, and warm hospitality.
            </p>
        <p>
            For those seeking a glimpse of Delhi's modern side, head to Connaught Place, a bustling commercial hub dotted with shops, restaurants, and cafes. Take a leisurely stroll through the lush greenery of Lodhi Gardens or explore the contemporary art scene at the National Gallery of Modern Art. <br>
            Delhi's cultural tapestry comes alive through its vibrant festivals and events. Witness the grandeur of Diwali celebrations at Akshardham Temple or immerse yourself in the colorful festivities of Holi at India Gate. Don't miss the opportunity to attend cultural performances showcasing traditional music, dance, and theater at venues like the Kamani Auditorium and Siri Fort Auditorium. <br>
        </p>

        <p><strong class="strong">MOST BEAUTIFUL PLACES TO VISIT IN AGRA</strong></p>
        <li>Humayun's Tomb</li>
        <li>Qutub Minar</li>
        <li>Lodi Garden</li>
        <li>Akshardham Temple</li>
        <li>Red Fort</li>
        <li>India Gate</li>
</section>
</div>
<!-- <section>
    <div class="container my-5 ">
        <h2>RECOMENDED PACKAGES</h2>
        <hr>
        <div class="int-container ">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="./assets/italypackage.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF ITALY</h5>
                    <p class="card-text">Explore italy mains with this package .</p>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section> -->


<%- include("partials/footer.ejs") %>