<%- include("partials/header.ejs") %>


<section>
    <div class="container">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/greece1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/greece2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/greece3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/greece4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="about ">
    <div class="container">
    <H2 class="mt-5">ABOUT GREECE</H2>
        <hr>
        <p>Tourism in Greece has been a key element of the economic activity in the country, and is one of the country's most important sectors. Greece has been a major tourist destination and attraction in Europe since the 1970s for its rich culture and history, which is reflected in large part by its 18 UNESCO World Heritage Sites, among the most in Europe and the world as well as for its long coastline, many islands, and beaches.</p>
        <p>
            
            Greece is one of Europe's most popular LGBT tourist destinations. The religious tourism and pilgrimages, the ecotourism, the conference tourism, and the medical tourism are prominent, and initiatives are being made to promote the seasonal tourism as well. Some of the country's major tourist destinations include the capital city Athens, the islands of Santorini, Mykonos, Rhodes, Corfu and Crete, as well as the peninsula of Chalkidice. 
            <br>
            Tourism in modern-day Greece started to flourish in the 1960s and 1970s, in what became known as mass tourism.[9] During that time, large-scale construction projects for hotels and other such facilities were undertaken, and the country saw an increase in international tourists over the years. International events such as the 2004 Summer Olympic Games and the Eurovision Song Contest 2006, both held in Athens, greatly helped to boost tourism in the country, while large-scale nationally funded cultural infrastructure such as the New Acropolis Museum also contributed to the flow of tourists in the country. Thessaloniki was the European Youth Capital in 2014.
        </p>
        <p>Greece has a Mediterranean climate along its coasts and islands. Once inland, many areas and cities experience a continental climate.

            Summers are usually hot and dry, while winters are generally mild and wet. Northern Greece can experience cold winters, while Southern Greece and the islands experience considerably milder winters.
        </p>
        <p><strong class="strong">MOST BEAUTIFUL PLACES TO VISIT IN GREECE</strong></p>
        <li>Acropolis of Athens</li>
        <li>Parthenon</li>
        <li>Meteora</li>
        <li>Tholos of Athena Pronaia</li>
        <li>The Athenian Treasury</li>
        <li>Santorini</li>
</section>
</div>
<section>
    <div class="container my-5 ">
        <h2>RECOMENDED PACKAGES</h2>
        <hr>
        <div class="int-container ">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/int-6.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF GREECE</h5>
                    <p class="card-text">Explore Greece mains with this package .</p>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>