<%- include("partials/header.ejs") %>
<div class="int-title">
    <img src="indiagate.jpg" alt="welcome" width="100%" height="900">
    <div>
      <h1> INDIAN TOURISM </h1>
    </div>
  </div>


  <section>
    <div class="container">

  <section  class="padd">
    <h2>INDIAN DESTINATIONS</h2>
    <hr>
  </section>
      <div class="int-container">
        <a href="./agra.html">
          <div class="img-container int-img trans">
            <img src="tajind.jpg" alt="italy">
            <div class="overlap">
              <p>AGRA</p>
            </div>
          </div>
        </a>
        
        
      <a href="./delhi.html">
        <div class="img-container int-img trans spl2">
          <img src="REDFORT.png" alt="">
          <div class="overlap">
            <p>DELHI</p>
          </div>
        </div>
      </a>

      <a href="./amritsar.html">
        <div class="img-container int-img trans spl2">
          <img src="goledntemple.jpg" alt="">
          <div class="overlap">
            <p>AMRITSAR</p>
          </div>
        </div>
      </a>

      <a href="./jaipur.html">
        <div  class="img-container int-img trans spl2">
          <img src="hawamahel.jpeg" alt="">
          <div class="overlap">
            <p>JAIPUR</p>
          </div>
        </div>
      </a>

      <a href="./karnataka.html">
        <div  class="img-container int-img trans">
          <img src="mysorepalace.jpg" alt="">
          <div class="overlap">
            <p>KARNATAKA</p>
          </div>
        </div>
      </a>

      <a href="./jammu.html">
        <div  class="img-container int-img trans spl3">
          <img src="Vaishno-Devi.jpg" alt="">
          <div class="overlap">
            <p>JAMMU KASHMIR</p>
          </div>
        </div>
      </a>


      </div>
    </div>
<%- include("partials/footer.ejs") %>