<%- include("partials/header.ejs") %>
<div class="int-title">
    <img src="indian.jpg" alt="welcome">
    <div>
        <h1>INDIAN  TOURISM </h1>
    </div>
</div>

<section>
    <div class="container">
        <section class="padd"> 
            <h2>INDIAN PACKAGES</h2>
            <hr>
        </section>
        <div class="package-container">
            <div class="card zoom-effect indcard " style="width: 18rem;">
                <img src="/southindia.jpg" class="card-img-top ind-img" alt="...">
                <div class="card-body indbody">
                    <h5 class="card-title">BEST OF SOUTH-INDIA</h5>
                    <p class="card-text">Explore SOUTH INDIA with this package .</p>
                    <a href="/explore?packname=BEST OF SOUTH-INDIA" class="btn btn-primary">Explore</a>
                </div>
            </div>

            <div class="card zoom-effect indcard" style="width: 18rem;">
                <img src="/northindia.webp " class="card-img-top ind-img" alt="...">
                <div class="card-body indbody">
                    <h5 class="card-title">BEST OF NORTH-INDIA</h5>
                    <p class="card-text">Explore NORTH-INDIA with this package .</p>
                    <a href="/explore?packname=BEST OF NORTH-INDIA" class="btn btn-primary">Explore</a>
                </div>
            </div>

            <div class="card zoom-effect indcard" style="width: 18rem;">
                <img src="/architecture.jpg " class="card-img-top ind-img" alt="...">
                <div class="card-body indbody">
                    <h5 class="card-title">EXCLUSIVE ARCHITECTURE </h5>
                    <p class="card-text">Explore INDIAN ARCHETECTURE with this package .</p>
                    <a href="/explore?packname=EXCLUSIVE ARCHITECTURE" class="btn btn-primary">Explore</a>
                </div>
            </div>

            <div class="card zoom-effect indcard" style="width: 18rem;">
                <img src="/hotspot.jpg" class="card-img-top ind-img" alt="...">
                <div class="card-body indbody">
                    <h5 class="card-title">TOURIST HOTSPOTS</h5>
                    <p class="card-text">Explore MAIN HOTSPOTS OF INDIA  with this package .</p>
                    <a href="/explore?packname=TOURIST HOTSPOTS" class="btn btn-primary">Explore</a>
                </div>
            </div>

                <div class="card zoom-effect indcard" style="width: 18rem;">
                    <img src="/temple.jpg" class="card-img-top ind-img" alt="...">
                    <div class="card-body indbody">
                        <h5 class="card-title">INDIAN TEMPLES</h5>
                        <p class="card-text">Visit temles famous all over india  with this package .</p>
                        <a href="/explore?packname=INDIAN TEMPLES" class="btn btn-primary">Explore</a>
                    </div>
                </div>



            <div class="card zoom-effect indcard" style="width: 18rem;">
                <img src="/heritage.jpg " class="card-img-top ind-img" alt="...">
                <div class="card-body indbody">
                    <h5 class="card-title">INDIAN HERITAGE</h5>
                    <p class="card-text">Explore HERITAGE OF INDIA with this package .</p>
                    <a href="/explore?packname=INDIAN HERITAGE " class="btn btn-primary">Explore</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>