<%- include("partials/header.ejs") %>
<div class="int-title">
    <img src="inter.jpg" alt="welcome" width="100%" height="900">
    <div>
      <h1> INTERNATIONAL TOURISM </h1>
    </div>
  </div>



  <section>
    <div class="container">

  <section  class="padd">
    <h2>INTERNATIONAL DESTINATIONS</h2>
    <hr>
  </section>
      <div class="int-container">
        <a href="/italy">
          <div class="img-container int-img trans">
            <img src="int-1.jpeg" alt="italy">
            <div class="overlap">
              <p>ITALY</p>
            </div>
          </div>
        </a>
        
        
      <a href="/spain">
        <div class="img-container int-img trans">
          <img src="int-2.jpeg" alt="">
          <div class="overlap">
            <p>SPAIN</p>
          </div>
        </div>
      </a>
      
      <a href="/thailand">
        <div class="img-container int-img trans spl1">
          <img src="int-3.jpg" alt="">
          <div class="overlap">
            <p>THAILAND</p>
          </div>
        </div>
      </a>

      <a href="/singapore">
        <div  class="img-container int-img trans">
          <img src="int-5.cms" alt="">
          <div class="overlap">
            <p>SINGAPORE</p>
          </div>
        </div>
      </a>

      <a href="/australia">
        <div  class="img-container int-img trans">
          <img src="int-4.jpeg" alt="">
          <div class="overlap">
            <p>AUSTRALIA</p>
          </div>
        </div>
      </a>

      <a href="/grece">
        <div  class="img-container int-img trans spl">
          <img src="int-6.jpg" alt="">
          <div class="overlap">
            <p>GREECE</p>
          </div>
        </div>
      </a>
</div>
</div>

<%- include("partials/footer.ejs")  %>