<%- include("partials/header.ejs") %>
<div class="int-title">
    <img src="inter.jpg" alt="welcome">
    <div>
        <h1>INTERNATIONAL TOURISM </h1>
    </div>
</div>

<section>
    <div class="container">
        <section class="padd"> 
            <h2>INTERNATIONAL PACKAGES</h2>
            <hr>
        </section>
        <div class="package-container">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/italypackage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF ITALY</h5>
                    <p class="card-text">Explore italy mains with this package .</p>
                    <a href="/explore?packname=BEST OF ITALY" class="btn btn-primary">Explore</a>
                </div>
            </div>

            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/australia.avif " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF AUSTRALIA</h5>
                    <p class="card-text">Explore Australia mains with this package .</p>
                    <a href="/explore?packname=BEST OF AUSTRALIA" class="btn btn-primary">Explore</a>
                </div>
            </div>

            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/singaporetitle.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF SINGAPORE</h5>
                    <p class="card-text">Explore Singapore mains with this package .</p>
                    <a href="/explore?packname=BEST OF SINGAPORE" class="btn btn-primary">Explore</a>
                </div>
            </div>

            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/spainpackage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF SPAIN</h5>
                    <p class="card-text">Explore Spain mains with this package .</p>
                    <a href="/explore?packname=BEST OF SPAIN" class="btn btn-primary">Explore</a>
                </div>
            </div>

             <div class="card zoom-effect " style="width: 18rem;">
                <img src="/thailandtitle.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                    <h5 class="card-title">BEST OF THAILAND</h5>
                    <p class="card-text">Explore Thailand mains with this package .</p>
                    <a href="/explore?packname=BEST OF THAILAND" class="btn btn-primary">Explore</a>
                 </div>
            </div>



            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/int-6.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF GREECE</h5>
                    <p class="card-text">Explore Greece mains with this package .</p>
                    <a href="/explore?packname=BEST OF GREECE" class="btn btn-primary">Explore</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>