<%- include("partials/header.ejs") %>
<div class="isl-title">
    <img src="islandtitle.jpg" alt="welcome" width="100%" height="900">
    <div>
      <h1> ISLANDS TOURISM </h1>
    </div>
  </div>



  <section>
    <div class="container">

  <section  class="padd">
    <h2>ISLANDS DESTINATIONS</h2>
    <hr>
  </section>
      <div class="int-container">
        <a href="/mauritius">
          <div class="img-container int-img trans">
            <img src="mauritius.jpeg" alt="mauritius">
            <div class="overlap">
              <p>MAURITIUS</p>
            </div>
          </div>
        </a>
        
        
      <a href="/bali">
        <div class="img-container int-img trans">
          <img src="bali.jpeg" alt="bali">
          <div class="overlap">
            <p>BALI</p>
          </div>
        </div>
      </a>

      <a href="/cyprus">
        <div class="img-container int-img trans ">
          <img src="kato.jpeg" alt="">
          <div class="overlap">
            <p>CYPRUS</p>
          </div>
        </div>
      </a>

      <a href="/whitsundays">
        <div  class="img-container int-img trans">
          <img src="whitsundays.jpeg" alt="whitsundays">
          <div class="overlap b">
            <p>WHITSUNDAYS</p>
          </div>
        </div>
      </a>

      <a href="/andaman">
        <div  class="img-container int-img trans spl1">
          <img src="ANDAMAN.webp" alt="">
          <div class="overlap">
            <p>ANDAMAN</p>
          </div>
        </div>
      </a>

      <a href="/lakshadweep">
        <div  class="img-container int-img trans spl1">
          <img src="lakshdp.jpg" alt="">
          <div class="overlap">
            <p>LAKSHADWEEP</p>
          </div>
        </div>
      </a>


      </div>
    </div>

<%- include("partials/footer.ejs") %>