<%- include("partials/header.ejs") %>
<div class="int-title">
    <img src="islands.jpg" alt="welcome">
    <div>
        <h1>ISLANDS TOURISM </h1>
    </div>
</div>

<section>
    <div class="container">
        <section class="padd"> 
            <h2>ISLANDS PACKAGES</h2>
            <hr>
        </section>
        <div class="package-container">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/balipackage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF BALI</h5>
                    <p class="card-text">Explore Bali with this package .</p>
                    <a href="/explore?packname=BEST OF BALI" class="btn btn-primary">Explore</a>
                </div>
            </div>

            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/cyprus4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF CYPRUS</h5>
                    <p class="card-text">Explore Cyprus with this package .</p>
                    <a href="/explore?packname=BEST OF CYPRUS" class="btn btn-primary">Explore</a>
                </div>
            </div>

            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/lakshadweep.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF LAKSHADWEEP</h5>
                    <p class="card-text">Explore Lakshadweep with this package .</p>
                    <a href="/explore?packname=BEST OF LAKSHADWEEP" class="btn btn-primary">Explore</a>
                </div>
            </div>

            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/mauritius.jpeg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF MAURITIUS</h5>
                    <p class="card-text">Explore Mauritius with this package .</p>
                    <a href="/explore?packname=BEST OF MAURITIUS" class="btn btn-primary">Explore</a>
                </div>
            </div>

            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/whitsundays.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF WHITSUNDAYS</h5>
                    <p class="card-text">Explore Whitsundays with this package .</p>
                    <a href="/explore?packname=BEST OF WHITSUNDAYS" class="btn btn-primary">Explore</a>
                </div>
            </div>


            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/andaman.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF ANDAMAN</h5>
                    <p class="card-text">Explore Andaman with this package .</p>
                    <a href="/explore?packname=BEST OF ANDAMAN" class="btn btn-primary">Explore</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>