<%- include("partials/header.ejs") %>

<section>
    <div class="container">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/italy1.jpg" class="d-block w-100 custom-height" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/italy2.jpg" class="d-block w-100 custom-height" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/italy3.jpg" class="d-block w-100 custom-height" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/italy4.jpg" class="d-block w-100 custom-height" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="about ">
    <div class="container">
        <H2 class="mt-5">ABOUT ITALY</H2>
        <hr>
        <p>Tourism in Italy is one of the economic sectors of the country. With 65 million tourists per year (2019)
            according to ISTAT, Italy is the fifth most visited country in international tourism arrivals.</p>
        <p>
            People have visited Italy for centuries, yet the first to visit the peninsula for tourist reasons were
            aristocrats during the Grand Tour, beginning in the 17th century, and flourishing in the 18th and 19th
            centuries. This was a period in which European aristocrats, many of whom were British and French,
            visited parts of Europe, with Italy as a key destination. For Italy, this was in order to study ancient
            architecture, local culture and to admire the natural beauties. <br>
            The Roman Empire, Middle Ages, Renaissance and the following centuries of the history of Italy have left
            many cultural artefacts that attract tourists. In general, the Italian cultural heritage is the largest
            in the world since it consists of 60 to 75 percent of all the artistic assets that exist on each
            continent, with over 4,000 museums, 6,000 archaeological sites, 85,000 historic churches and 40,000
            historic palaces, all subject to protection by the Italian Ministry of Culture. As of 2018, the Italian
            places of culture (which include museums, attractions, parks, archives and libraries) amounted to 6,610.
            Italy is the leading cruise tourism destination in the Mediterranean Sea.
        </p>
        <p><strong class="strong">MOST BEAUTIFUL PLACES TO VISIT IN ITALY</strong></p>
        <li>Amalfi Coast</li>
        <li>Parco della Mole Adriana</li>
        <li>Roman Forum</li>
        <li>Castel Sant'Angelo</li>
        <li>Pantheon</li>
        <li>Parco della Mole Adriana</li>
</section>
</div>
<section>
    <div class="container my-5 ">
        <h2>RECOMENDED PACKAGES</h2>
        <hr>
        <div class="int-container ">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/italypackage.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF ITALY</h5>
                    <p class="card-text">Explore italy mains with this package .</p>
                    <a href="/explore?packname=BEST OF ITALY" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>