<%- include("partials/header.ejs") %>

<section>
    <div class="container">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/jammu1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/jammu2.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="about ">
    <div class="container">
        <H2 class="mt-5">ABOUT JAMMU KASHMIR</H2>
        <hr>
        <p>
            
            Welcome to the Paradise on Earth: Explore Jammu and Kashmir Tourism</p>

           <p> Nestled in the lap of the Himalayas, Jammu and Kashmir is a land of breathtaking beauty, serene landscapes, and rich cultural heritage. From snow-capped mountains to lush valleys, pristine lakes, and ancient temples, this enchanting region offers a myriad of experiences for travelers seeking adventure, tranquility, and spiritual rejuvenation</p>
        <p>
            Kashmir Valley: Known as "Paradise on Earth," the Kashmir Valley is renowned for its stunning natural beauty, including the iconic Dal Lake, picturesque gardens of Shalimar Bagh and Nishat Bagh, and the breathtaking vistas of Pahalgam and Gulmarg. Embark on a shikara ride on Dal Lake, stroll through the vibrant Mughal gardens, or indulge in winter sports like skiing and snowboarding in Gulmarg's snow-covered slopes. <br>
            Perched atop the Trikuta Mountains, the Vaishno Devi Temple is one of the holiest Hindu shrines dedicated to Goddess Vaishno Devi. Pilgrims undertake a challenging trek through the picturesque hills to seek the blessings of the Goddess and experience a spiritual journey unlike any other.<br>
        </p>
        <P>
             The summer capital of Jammu and Kashmir, Srinagar is a city of timeless charm, with its iconic houseboats floating on the tranquil waters of Dal Lake, vibrant markets of Lal Chowk, and ancient shrines like Shankaracharya Temple. Explore the narrow alleys of the old city, savor traditional Kashmiri cuisine, and shop for exquisite handicrafts and Pashmina shawls in the bustling bazaars.
        </P>

        <p><strong class="strong">MOST BEAUTIFUL PLACES TO VISIT IN KARNATAKA</strong></p>
        <li>Vaishno Devi Temple:</li>
        <li>Raghunath Temple</li>
        <li>Mansar Lake</li>
        <li>Surinsar Lake</li>
        <li>Bahu Temple</li>
        <li>Peer Baba Dargah</li>
</section>
</div>
<!-- <section>
    <div class="container my-5 ">
        <h2>RECOMENDED PACKAGES</h2>
        <hr>
        <div class="int-container ">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="./assets/italypackage.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF ITALY</h5>
                    <p class="card-text">Explore italy mains with this package .</p>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section> -->


<%- include("partials/footer.ejs") %>