<%- include("partials/header.ejs") %>

<section>
    <div class="container">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/lakshadweep1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/lakshweep2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/lakshdp.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/lakshadweep3.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="about ">
    <div class="container">
    <H2 class="mt-5">ABOUT LAKSHADWEEP</H2>
        <hr>
        <p> 
            Tourism in Lakshadweep, India's smallest union territory, is characterized by its pristine coral islands, crystal-clear waters, vibrant marine life, and serene beaches. Comprising 36 islands, out of which only a few are inhabited, Lakshadweep offers visitors a tranquil and secluded getaway amidst breathtaking natural beauty.</p>
        <p>
            
            Lakshadweep's islands are known for their stunning natural beauty, with white sandy beaches, coconut palm-fringed shores, and turquoise lagoons. Some of the most popular islands for tourists include Kavaratti, the administrative capital and the most developed island; Agatti, known for its beautiful lagoon and water sports facilities; and Bangaram, famous for its pristine beaches and luxury resorts.
            <br>
            Lakshadweep's underwater world is rich in biodiversity, with colorful coral reefs, exotic fish species, sea turtles, and other marine creatures. Popular dive sites include Dolphin's Dive, Agatti Island, and Bangaram Island, where divers can witness stunning coral formations and encounter diverse marine life.</p>
        <p> Lakshadweep is home to several historic lighthouses that offer panoramic views of the surrounding islands and the vast expanse of the Arabian Sea. Visitors can climb to the top of these lighthouses and enjoy breathtaking vistas, making for memorable experiences and photo opportunities.
        </p>
        <p><strong class="strong">MOST BEAUTIFUL PLACES TO VISIT IN LAKSHADWEEP</strong></p>
        <li>Agatti Island</li>
        <li>Bangaram Island</li>
        <li>Kavaratti Island</li>
        <li>Minicoy Island</li>
        <li>Suheli Par</li>
        <li>Pitti Bank</li>
</section>
</div>
<section>
    <div class="container my-5 ">
        <h2>RECOMENDED PACKAGES</h2>
        <hr>
        <div class="int-container ">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/lakshadweep.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF LAKSHADWEEP</h5>
                    <p class="card-text">Explore Lakshadweep with this package .</p>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>