<%- include('partials/header.ejs') %>
    <section class="profile">
        <h1>PROFILE</h1>
    </section>

    
    <div class="pdisplay">

        <div class="img">
        <img src="profile.jpg" alt="">
        </div>
        <div class="detail">
        <h2><strong>UserID</strong>        :    </h2>
        <h2><strong>Username</strong>         : </h2> 
        <h2><strong>Email</strong>:   </h2> 
        <h2><strong>Total Bookings</strong> :     </h2> 

        </div>
         
    </div>

</body>
</html>
