<%- include("partials/header.ejs") %>


<section>
    <div class="container">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/singapore1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/singapore2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/singapore3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/singapore4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="about ">
    <div class="container">
    <H2 class="mt-5">ABOUT SINGAPORE</H2>
        <hr>
        <p>Tourism in Singapore is a major industry and contributor to the Singaporean economy.</p>
        <p>
            
            As of 2019, there were 19.1 million international tourists visiting Singapore, which was more than three times the country's total population .It also claims to be environmentally friendly, and maintains natural and heritage conservation programs. Along with this, it also has one of the world's lowest crime rates. As English is the dominant one of its four official languages, it is generally easier for tourists to understand when speaking to the local population of the country, for example, when shopping. Transport in Singapore exhaustively covers most, if not all public venues in Singapore, which increases convenience for tourists. This includes the well-known Mass Rapid Transit (MRT) system. Singapore is the 5th most visited city in the world, and 2nd in Asia-Pacific  . 
            <br>
            The Travel and Tourism Competitiveness Report 2017 ranks Singapore 13th out of 136 countries overall, which was the third best in Asia only behind Japan (ranked 4th) and Hong Kong (ranked 11th). The report ranks Singapore's business environment, international openness, also travel and tourism policy and enabling conditions as the best in the world (ranked 1st). However, the island nation scored rather low in natural and cultural resources sub-index (ranked 40th).
        </p>
        <p>
            Sentosa is a relatively large island of Singapore located to its south. Along with a beach-front resort, the island's tourist attractions include Fort Siloso, its historical museum, the SEA Aquarium, and Madame Tussauds Singapore. Singapore also features two casinos (integrated resorts), one the Marina Bay Sands and the other, Resorts World Sentosa (home to Universal Studios Singapore and Adventure Cove Waterpark)
        </p>
        <p><strong class="strong">MOST BEAUTIFUL PLACES TO VISIT IN SINGAPORE</strong></p>
        <li>Gardens by the Bay</li>
        <li>Singapore Botanic</li>
        <li>Fort Canning Park</li>
        <li>Marina Bay Waterfront Promenade</li>
        <li>Merlion Park</li>
        <li>Clarke Quay</li>
</section>
</div>
<section>
    <div class="container my-5 ">
        <h2>RECOMENDED PACKAGES</h2>
        <hr>
        <div class="int-container ">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/singaporetitle.jpg " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF SINGAPORE</h5>
                    <p class="card-text">Explore Singapore mains with this package .</p>
                    <a href="/explore?packname=BEST OF SINGAPORE" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer.ejs") %>