<%- include("partials/header.ejs") %>

<section>
    <div class="container">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/spain1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/spain2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/spain3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/spain4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="about ">
    <div class="container">
    <H2 class="mt-5">ABOUT SPAIN</H2>
        <hr>
        <p>Tourism in Spain is a major contributor to national economic life, contributing to about 11.8% of Spain's GDP (in 2017). Ever since the 1960s and 1970s, the country has been a popular destination for summer holidays, especially with large numbers of tourists from the United Kingdom, Ireland, Turkey, France, Germany, Italy, the Benelux, and the United States, among others. Accordingly, Spain's foreign tourist industry has grown into the second-biggest in the world.</p>
        <p>
            Spain ranks first among 140 countries in the biannual Travel and Tourism Competitiveness Index published by the World Economic Forum in 2019, matching the top position already achieved in 2017 and 2015<br>
            Tourism in modern-day Greece started to flourish in the 1960s and 1970s, in what became known as mass tourism.[9] During that time, large-scale construction projects for hotels and other such facilities were undertaken, and the country saw an increase in international tourists over the years. International events such as the 2004 Summer Olympic Games and the Eurovision Song Contest 2006, both held in Athens, greatly helped to boost tourism in the country, while large-scale nationally funded cultural infrastructure such as the New Acropolis Museum also contributed to the flow of tourists in the country. Thessaloniki was the European Youth Capital in 2014.
        </p>
        <p>Most festivals turn around patron saints, legends, local customs and folklore. Among the most singular ones stand out the Seville Fair (Feria de Abril in Spanish), the Romería de El Rocío in Almonte, Huelva, the world-famous running of the bulls in Pamplona, the Falles in Valencia, the Tomatina in Buñol, Valencia and the Fiestas del Pilar in Zaragoza.

            Spain is the second largest country in the European Union. Its latitude puts part of the country in direct contact with the typical southern end of the Atlantic polar jet. Hence, Spain's geographical position allows for Atlantic fronts typically affecting its western and northern part whereas a Mediterranean influenced climate is generally prevalent in its eastern and southern parts, with transition climates linking both main bioclimatic regions.
        </p>
        <p><strong class="strong">MOST BEAUTIFUL PLACES TO VISIT IN SPAIN</strong></p>
        <li>Barcelona:</li>
        <li>Seville</li>
        <li>Granada</li>
        <li>Madrid</li>
        <li>Toledo</li>
        <li>San Sebastian</li>
</section>
</div>
<section>
    <div class="container my-5 ">
        <h2>RECOMENDED PACKAGES</h2>
        <hr>
        <div class="int-container ">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/spainpackage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF SPAIN</h5>
                    <p class="card-text">Explore Spain mains with this package .</p>
                    <a href="/explore?packname=BEST OF SPAIN" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>