<%- include("partials/header.ejs") %>

<section>
    <div class="container">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/thai1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/thai2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/thai3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/thai4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="about ">
    <div class="container">
    <H2 class="mt-5">ABOUT THAILAND</H2>
        <hr>
        <p>Tourism is an economic contributor to the Kingdom of Thailand. Estimates of tourism revenue directly contributing to the GDP of 12 trillion baht range from one trillion baht (2013) 2.53 trillion baht (2016), the equivalent of 9% to 17.7% of GDP When including indirect travel and tourism receipts, the 2014 total is estimated to be the equivalent of 19.3% (2.3 trillion baht) of Thailand's GDP.   
        </p>
        <p>
            Elephant trekking has been an attraction for tourists in Thailand for decades. Ever since logging in Thailand was banned in 1989, elephants were brought into camps to put on shows for tourists and to give them rides. The majority of these elephants once used to work in the logging industry. After the government banned logging, many mahouts were then unable to care for their elephants and left them in the wild. After tourism in the country rose, elephants came back into demand. The tourism boom gave elephants a place to work and be cared for. Today there are an estimated 3,000 to 4,000 domesticated elephants in the country.
        </p>
        <p><strong class="strong">MOST BEAUTIFUL PLACES TO VISIT IN THAILAND</strong></p>
        <li>Bangkok</li>
        <li>Chiang Mai</li>
        <li>Phuket</li>
        <li>Ayutthaya</li>
        <li>Kanchanaburi</li>
        <li>Krabi</li>
</section>
</div>
<section>
    <div class="container my-5 ">
        <h2>RECOMENDED PACKAGES</h2>
        <hr>
        <div class="int-container ">
            <div class="card zoom-effect " style="width: 18rem;">
                <img src="/thailandtitle.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BEST OF THAILAND</h5>
                    <p class="card-text">Explore Thailand mains with this package .</p>
                    <a href="/explore?packname=BEST OF THAILAND" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>