.custom-height,.carousel-item img
{
    height: 800px;
    object-fit: fill;
}

.title 
{
    position: relative;
}
.title img 
{
    width:100%;
    height:900;
}
.heading 
{
    position: absolute;
    top:30px;
    left:50%;
    transform: translateX(-50%);
    word-spacing: 5px;
    white-space: nowrap;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.tagline
{
    position: absolute;
    top:750px;
    left:700px;
    word-spacing: 5px;
    white-space: nowrap;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center; 
}
.heading>p 
{
    margin: 0;
    font-size: 4rem;
    font-weight: bold;
    border-bottom: 9px solid white;
}
.tagline>p 
{
    margin: 0;
    font-size: 3.5rem;
    font-weight: bold;
}
.space 
{
    font-size: 2rem;
    padding-left: 600px;
}
.overlay 
{
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 60%;
    height: 80%;
    width: 100%;
    background-color: white ; 
    border-radius: 50%;
    opacity: 0.7;
    z-index: 2;
    
}

.overlay>p
{
    position: absolute;
    top:100px;
    left:50%;
    transform: translateX(-50%);


    text-align: center;
    font-size: 3rem;
    font-family: fantasy;
}
.heading div>p 
{
    margin: 20px auto;
    font-size: 4.8rem;
    background-color: rgba(255, 255, 255, 0.5);
    width: fit-content;
    color: #333;
    padding: 10px;
    border-radius: 100px;
    backdrop-filter: blur(10px) brightness(150%);
}
a,a:hover
{
    text-decoration: none;
}

.card:hover,.trans:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.zoom-effect {
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.zoom-effect:hover {
    transform: scale(1.1);
}

.card-img-top {
    transition: transform 0.3s ease;
}

.zoom-effect:hover .card-img-top {
    transform: scale(1.1);
}
.main
{
    padding: 100px;
}
.main>h1 
{
    font-size: 4em;
    padding-bottom: 100px;
    text-align: center;
}

.int-title img 
{
    width: 100%;
    height: 900px;
}
.int-container
{
    padding-top: 20px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3,1fr);
}
.package-container
{
    padding-top: 20px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3,1fr);
}

.int-img
{
    position: relative;
    width: 100%;
    height: 300px;
}

.int-img img
{
    width: 100%;
    height: 100%; 
    object-fit:cover; 
    border-radius: 40px;
}

.overlap
{
    position: absolute;
    top:190px;
    left:10px;
    text-align: center;
}
.overlap p{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px) brightness(150%);

    border-radius: 20px;
    font-family: serif;
}

.padd 
{
    padding-top: 100px;
}
.int-title 
{
    position: relative;
}

.int-title h1 {
    position: absolute;
    font-family: serif;
    font-size: small;
    top: 650px; 
    left: 250px; 
    color: white; 
    text-align:start; 
    font-size: 90px; 
}


.isl-title img
{
    object-fit: fill;
    height: 800px;
}

.isl-title h1
{
    position: absolute;
    font-family: serif;
    font-size:larger;
    top: 650px; 
    left: 100px; 
    color: white; 
    text-align:start; 
    font-size: 40px;
}

.about-header
{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
.about-main 
{
    padding: 20px;
}

.about-main section 
{
    margin-bottom: 40px;
}
.about-main h2 
{
    color:#333;
}

.about-main p 
{
    color: #666;
}
.about-main ul 
{
    list-style-type: none;
    padding: 0;
}
.about-main ul li
{
    margin-bottom: 10px;
}

#packing-checklist {
    margin-top: 10px;
}

#packing-checklist input[type="checkbox"] {
    margin-right: 10px;
}
.packsub h1
{
    color: black;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px) brightness(150%);
}


footer {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    text-align: center;
    padding: 10px;
}
.navbar
{
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

.box
{
    background-color:#f2f2f2;
    margin:150px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.box p 
{
    padding: 20px;
    font-size: 2rem;
}
.button {
    background-color: blue;
    border: 5px outset blue;
    color: white;
    border-radius: 20px;
    padding: 20px 40px; 
    margin: 50px;
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; 
}


.button:hover {
    background-color: darkblue; 
    border-color: darkblue; 
    transform: scale(1.05); 
}

.book-main 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("loginback.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.book-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.book 
{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px) brightness(160%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.book form {
    display: flex;
    flex-direction: column;
}

.book label {
    margin-bottom: 10px;
    font-weight: bold;
}

.book input  {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.book button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit 
{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;

}
.book button:hover ,.submit:hover{
    background-color: #45a049;
}

.book p{
    font-size: 1.75rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
span 
{
    color: blue;
}

.profile
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pdisplay
{
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 1000px;
    backdrop-filter: blur(10px);
    padding: 0px;
    position: absolute;
    left: 620px;
    /* border: black solid; */
    height: 650px;
    width:650px;
}

.profile h1{
    font-size: 2.5em;
    padding: 0px;
    margin:0px;
    text-align: center;
}
.img{
    position: absolute;
    left: 230px;
    top:10px;
    border: 1px solid black;
    border-radius: 50%;
    height:200px;
    width:200px;
}

.img img
{
    position: absolute;
    right: 1px;
    height: 200px;
    border-radius: 50%;
    border: solid black 2px;
}

.detail
{
    position: absolute;
    bottom: 40px;
}
.detail h2
{
    padding: 20px;
}


@media only screen and (max-width:320px)
{
    /* main home responsive */
    .title img 
    {
        height:300px;
    }
    .heading 
    {
        top:5px;
        
    }
    .heading>p 
    {
        font-size: 1rem;
        border-bottom: 3px solid white;
    }
    .heading div>p 
    {
        font-size: 1.5rem;
    }
    .main 
    {
        width:100%;
        margin-top: 50px;
        padding:0;
    }


    .main>h1 
    {
        font-size: 1.25rem;
    }

    .carousel-item img 
    {
        object-fit: fill;
    }
    .custom-height
    {
        height: 200px;
    }
    .overlay>p
    {
        top:10px; 
        font-size: 1rem;       
    }
    
    /*Int home Responsive */
    .int-title img
    {
        height: 300px;
    }
    .int-title h1
    {
        top:250px;
        font-size: 1.35rem;
        left:10px;
    }
    .int-container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .overlap 
    {
        top:60%;
    }
    .img-container
    {
       width: 100%;
       height: 50%;
    }

    .package-container
    {
        grid-template-columns: repeat(1,1fr);
    }
}
@media only screen and (min-width:321px) and (max-width:637px)
{
    .package-container
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media only screen and (min-width:321px) and (max-width:768px)
{
    
    .heading>p 
    {
        font-size: 1.25rem;
        border-bottom: 3px solid white;
    }
    .heading div>p 
    {
        font-size: 1.5rem;
    }
    .main 
    {
        width:100%;
        margin-top:50px;
        padding: 0;

    }

    .main>h1 
    {
        font-size: 1.85rem;
    }

    .carousel-item
    {
        object-fit: fill;
    }

    .custom-height
    {
        height: 400px;
    }

    .overlay>p
    {
        top:20px;
        font-size: 1.5rem;
    }

    .int-title h1
    {
        top:350px;
        font-size: 1.5rem;
        left:10px;
    }
    .int-title img 
    {
        height:400px;
    }
    .int-container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .overlap 
    {
        top:60%;
    }
    .img-container
    {
        width:100%;
        height:50%;
    }
    .ind 
    {
        height:400px;
    }

    .package-container
    {
        gap:10px;
        grid-template-columns: repeat(2,1fr);
    }

}

@media only screen and (min-width:769px) and (max-width:1024px)
{
    .title img 
    {
        height: 600px;
    }
    .heading>p 
    {
        font-size: 2.5rem;
        border-bottom: 4px solid white;
    }
    .heading div>p 
    {
        font-size: 3rem;

    }
    .main 
    {
        width:100%;
        margin-top: 50px;
        padding: 0;
    }

    .main>h1 
    {
        font-size: 3rem;
    }
    .carousel-item img 
    {
        object-fit: fill;
    }
    .custom-height
    {
        height:550px;
    }
    .col
    {
        height: 400px;
    }
    .overlay>p 
    {
        top:25px;
        font-size: 2rem;
    }

       /*Int home Responsive */
       .int-title img
       {
           height: 600px;
       }
       .int-title h1
       {
           top:490px;
           font-size: 3rem;
           left:10px;
       }
       .int-container
       {
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           flex-wrap: wrap;
       }
       .overlap 
       {
           top:60%;
       }
       .img-container
       {
          width: 100%;
          height: 50%;
       }

       .ind 
       {
           height:500px;
       }
   
    .package-container 
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (min-width:1025px) and (max-width:1409px)
{
    .img-container
    {   
        width:100%;
        height:300px;
    }
}